*.swp
*.d
*.o
*.a
*.exe
stegasis
src/site/public/images*
doc/*.log
doc/*.aux
doc/*.dvi
doc/*.out
doc/*.gz
doc/*.toc
lib/ffmpeg/ffmpeg
lib/ffmpeg/ffmpeg_g
lib/ffmpeg/ffprobe
lib/ffmpeg/ffprobe_g
lib/ffmpeg/ffserver
lib/ffmpeg/ffserver_g
lib/ffmpeg/doc/*
