extends layout

block content
  #title
    h1= title
    a(href="https://github.com/slwilliams/stegasis/") github.com/slwilliams/stegasis/
    hr
  #frames
    h2 Which image do you think contains hidden data?
    #frame
      form(action='/submit/test1', method='post')
        input(type='image', src='images/#{frame1}.jpeg')
    #frame
      form(action='/submit/test2', method='post')
        input(type='image', src='images/#{frame2}.jpeg')


  #footer
    h3.
      By using this site you consent that data collected may be used
      within an evaluation study. No identifying personal data will be
      stored.
    h4
      | Video frames taken from "Big Buck Bunny" licensed under the
      |  Creative Commons Attribution 3.0 license. See
      a(href="https://peach.blender.org/") peach.blender.org
